@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face  {
				font-family: 'Techno Hideo';
				src: url('techno_hideo.ttf');
				format: (truetype);
				font-weight: normal;
				font-style: normal;
				
}

@font-face  {
				font-family: 'Techfont';
				src: url('Techfont.ttf');
				format: (truetype);
				font-weight: normal;
				font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
				/* CORES */
				--cor1: #0D6BA6;
				--cor2: #0A7AA6;
				--cor3: #5FB6D9;
				--cor4: #F2F2F2;
				--cor5: #A61F1F;
				
				/* FONTES */
				--fonte-padrao: 'Roboto', sans-serif;
				--fonte-topicos: 'Techno Hideo', sans-serif;
				--fonte-tendencias: 'Techfont', sans-serif;
}

body {
				background: var(--cor4);
}

header {
				height: 50px;
				width: 100%;
				background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
				display: flex;
				justify-content: space-between;
				color: var(--cor4);
				font-family: var(--fonte-padrao);
}

#user {
				width: 20%;
				padding-left: 5px;
				display: flex;
				align-items: center;
}

#user p {
				margin-right: 10px;
}

#user p > a {
				color: white;
				text-decoration: none;
}

#user p > a:hover {
				text-decoration: underline;
}

#user a img {
				width: 30px;
				height: auto;
				border-radius: 15px;
}

#logo {
				width: 50%;
				text-align: center;
}

#logo > h1 {
				font-family: var(--fonte-topicos);
				font-size: 3em;
				padding-top: 15px;
				text-shadow: 1px 1px 0px black;
}

#menu {
				width: 30%;
				padding-top: 15px;
				text-align: right;
				padding-right: 10px;
}

#menu a {
				color: white;
				padding-left: 5px;
				text-decoration: none;
				transition-duration: .5s;
}

#menu a:hover {
				text-decoration: underline;
}

#user, #menu {
				font-weight: bold;
}

main {
				display: flex;
				min-width: 300px;
				max-width: 1000px;
}

strong {
				color: var(--cor1);
}

#container {
				width: 75%;
				background: white;
}

#verticalLine {
				margin-top: 10px;
}

#produtos {
				width: 25%;
				background: white;
}

#container #resize a img {
				width: 98%;
				height: auto;
				margin: 15px 10px 5px 0px;
}

.comeco {
				text-align: justify;
				font-family: var(--fonte-padrao);
				font-weight: 300;
				font-size: 0.9em;
				padding: 0px 15px;
				text-indent: 30px;
				line-height: 1.6;
}

.comeco > a {
				font-weight: bold;
				background-image: linear-gradient(to right, var(--cor3), white);
				color: var(--cor1);
				text-decoration: none;
}

.comeco > a::after {
				content: '\2197';
}

.comeco > a:hover {
				text-decoration: underline;
}

h2 {
				font-family: var(--fonte-tendencias);
				padding: 5px 15px;
				font-size: 2em;
				color: var(--cor1);
}

div.video {
				background: white;
				margin: 10px 15px 25px 15px;
				padding: 15px;
				position: relative;
				padding-bottom: 52%;
				
}

div.video > iframe {
				position: absolute;
				top: 5%;
				left: 5%;
				width: 90%;
				height: 90%;
}

aside section#busca > #busca {
				display: block;
				margin: 5px auto;
				width: 80%;
				background: var(--cor2);
				border: 1px solid var(--cor1);
				color: var(--cor4);
				padding: 5px;
				text-align: center;
				font-weight: bold;
				font-family: var(--fonte-padrao);
}

#busca::placeholder {
				color: white;
}

.loja {
				width: 99%;
				display: flex;
		margin-top: 5px;
}

.loja div.image {
       width: 45%;
}

div.image > img {
				height: auto;
				width: 100%;
}

.descricao {
				width: 54%;
}

.descricao > p {
				padding: 0px 2px;
				font-size: 0.6em;
				font-family: var(--fonte-padrao);
}

.descricao > a {
				text-decoration: none;
				font-family: var(--fonte-padrao);
}

.descricao > a > p {
				padding: 0px 2px;
				font-size: 0.6em;
}

.precoAntigo {
				text-decoration: line-through;
				color: grey;
				font-size: 0.5em;
}

aside a#mais {
				padding: 5px;
				color: var(--cor1);
				font-size: 0.7em;
				margin: 5px auto;
				display: block;
				text-align: center;
				font-weight: bold;
				font-family: var(--fonte-padrao);
}

aside a#mais:hover {
				color: var(--cor3);
				text-decoration: underline;
}

footer {
				width: 100%;
				background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
				font-size: 0.6em;
				padding-top: 5px;
}

footer section.rodape {
				display: flex;
}

.items {
				width: 50%;
}

footer section.rodape > div.items > a {
				text-align: center;
				display: block;
				color: white;
				text-decoration: none;
}

.items > a:hover {
				text-decoration: underline;
}

footer p {
				color: white;
				font-family: var(--fonte-padrao);
				font-weight: 700;
				text-align: center;
}
